## data type

- integer
- floal
- boolean
- complex
- string

---

- list
- set
- tuple
- dictionnary

In [5]:
x=10  #integer
print(x)
print(type(x))

10
<class 'int'>

In [6]:
y=20.5  #floal
print(y)
print(type(y))

20.5
<class 'float'>

In [9]:
a=True  #boolean
print(a)
print(type(a))

True
<class 'bool'>

In [10]:
b="piyumal"  #string
print(b)
print(type(b))

piyumal
<class 'str'>

In [11]:
c=2+3j  #complex
print(c)
print(type(c))

(2+3j)
<class 'complex'>

In [13]:
d=["kamal","namal","saman"]  #list
print(d)
print(type(d))

['kamal', 'namal', 'saman']
<class 'list'>

In [19]:
my_dict = {}
my_dict['Name']="piyumal"
my_dict['add']="galle"
print(my_dict)
print(type(my_dict))

galle
<class 'str'>

In [26]:
k=10
name="piyumal"
print("my age is ",str(k) , " my name is "+name)
print("my age is "+str(k) + " my name is "+name)
print("my age is %s my name is %s" %(k,name))

my age is  10  my name is piyumal
my age is 10 my name is piyumal
my age is 10 my name is piyumal

---
#  * input values
---

In [29]:
age = input("enter your age : ")
print(age)
print(type(age))

enter your age : 23
23
<class 'str'>

In [31]:
age = int(input("enter your age : "))  # convert to integer values
print(age)
print(type(age))

enter your age : 23
23
<class 'int'>

In [32]:
age = float(input("enter your age : "))  # convert to float values
print(age)
print(type(age))

enter your age : 23
23.0
<class 'float'>