# loop
- for-loop
-while loop


---
# continue and break

In [1]:
print("nipuna")
print("nipuna")
print("nipuna")
print("nipuna")
print("nipuna")

nipuna
nipuna
nipuna
nipuna
nipuna

In [3]:
for i in range(10):
  print("nipuna")

nipuna
nipuna
nipuna
nipuna
nipuna
nipuna
nipuna
nipuna
nipuna
nipuna

In [5]:
x=("10","20","30","40","50")
for num in x:
  print(num)

10
20
30
40
50

In [8]:
x={"name":"kamal", "age":"20", "address":"galle"}
for i in x:
  print(i)

name
age
address

In [11]:
x={"name":"kamal", "age":"20", "address":"galle"}
for i in x.values():
  print(i)

kamal
20
galle

---

- while loop

---

In [14]:
x=5
while(x>0):
  print("piyumal")
  x=x-1
print("=====")

piyumal
piyumal
piyumal
piyumal
piyumal
=====

In [21]:
x=1
while(x<20):
  y=x%2
  if(y==0):
    print(x,"is even number.")
  x+=1
print("========")

2 is even number.
4 is even number.
6 is even number.
8 is even number.
10 is even number.
12 is even number.
14 is even number.
16 is even number.
18 is even number.
========

In [23]:
for i in range(5):
  if(i==3):
    continue  # 3 is not print
  print(i)
  i+=1
print("--------")

0
1
2
4
--------

In [25]:
for i in range(5):
  if(i==3):
    break  # loop ekama break vela yanava
  print(i)
  i+=1
print("--------")

0
1
2
--------